<div class="page-content">
    <div class="row">
        <div class="col-xs-12">

            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4>百科问题</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" id="encyclopediaForm">
                            <div class="form-group well">
                                <h2 id="title" class="lighter block green"></h2>
                                <p id="content" class="lead"></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4>百科答案</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main" id="encyclopediaAnswer" style="margin-left:30px">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button id="backBtn" type="button" class="btn">
                        <i class="icon-undo bigger-110"></i>
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    $.loadScript(['js/information/encyclopediaDetail.js']);
</script>
